@import '_vars';
@import 'modules/_errors';
@import 'modules/_lightbox';
@font-face {
    font-family: $heading-font;
    src: url('SnellRoundhand.ttc') format('truetype');
  }

@font-face {
    font-family: $body-font;
    src: url('../css/Avenir.ttc') format('truetype');  
}

body {
    color: $color;
    background-color: $body-bg;
    display: inline;
} 

.princess_container {
    display: inline;
}

h1.hidden {
    display: none;
  }

.see-more {
    height: 150px;
    width: 300px;
}

.svg-graphic {
    height: 500px;
    width: 300px;
}

.main-header {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

#logo {
    height: 200px;
    width: 500px;
}

.logo-header {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header {
    text-align: center;
}

p {
    font-family: $body-font;
}

