@import '_vars';
@import 'modules/_errors';
@import 'modules/_lightbox';
@font-face {
    font-family: $heading-font;
    src: url('SnellRoundhand.ttc') format('truetype');
  }

@font-face {
    font-family: $body-font;
    src: url('../css/Avenir.ttc') format('truetype');  
}

body {
    color: $color;
    background-color: $body-bg;
    display: inline;
} 

h1, h2 {
    font-family: $body-font;
    font-weight: inherit;
}

h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

h2 {
    font-size: 18px;
}

.princess_container {
    display: inline;
}

h1.hidden {
    display: none;
  }

.see-more {
    padding-top: 0;
    margin-top: 0;
    height: 250px;
    width: 250px;
}

.svg-graphic {
    height: 350px;
    width: 250px;
    padding-left: 10px;
}

.main-header {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

#logo {
    height: 200px;
    width: 500px;
}

.logo-header {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header {
    text-align: center;
}

p {
    font-family: $body-font;
    float: left;
    text-align: left;
    margin-left: 20px;
    font-size: 12px;
}

