<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">

    <!--- import waypoint-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <!-- import greensock-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Disney Princesses</title>
</head>
<body>
    <h1 class="main-header">Everything You Need To Know About Disney's 12 Official Princesses</h1>
    <main>
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="beer1">
          <div class="label_wrapper">
            <h1 class="hidden">Princess Name</h1>
            <object data="images/bottleGraphic.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
            <span class="see-more" data-target="1">Princess Name</span>
          </div>
        </section>

        <section id="beer2">
          <div class="label_wrapper">
            <h1 class="hidden">Princess Name</h1>
            <object data="images/beerBarrels.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">Princess Name</span>
          </div>
        </section>

        <section id="beer3">
          <div class="label_wrapper">
            <h1 class="hidden">Princess Name</h1>
            <object data="images/qualityBeer.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="3">Princess Name</span>
          </div>
        </section>

        <article class="popover">
          <h4 class="ipa-rating">IPA Rating - switch to what comes up in pop up</h4>
          <div class="ratings">Average Rating:- switch to what comes up in pop up</div>
          <p class="beer-description"></p>
        </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>