<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">

    <title>The 12 Disney Princesses</title>
</head>
<body>
  <div class="logo-header">
    <object data="images/logo.svg" type="image/svg+xml" id="logo"></object>
  </div>
  
    <main>
      
       <section id="Princess1">
          <div class="princess_container">
            <h1 class="hidden">Belle</h1>
            <object data="images/belle_banner.svg" type="image/svg+xml" class="see-more" id="belle_banner" data-target="1"></object>
            <object data="images/belle.svg" type="image/svg+xml" class="svg-graphic" id="belle"></object>
          </div>
        </section>

        <section id="Princess2">
          <div class="princess_container">
            <h1 class="hidden">Cinderella</h1>
            <object data="images/cinderella_banner.svg" type="image/svg+xml" class="see-more" id="cinderella_banner" data-target="2"></object>
            <object data="images/cinderella.svg" type="image/svg+xml" class="svg-graphic" id="cinderella"></object>
          </div>
        </section>

        <section id="Princess3">
          <div class="princess_container">
            <h1 class="hidden">Aroura</h1>
            <object data="images/aroura_banner.svg" type="image/svg+xml" class="see-more" id="aroura_banner" data-target="3"></object>
            <object data="images/aroura.svg" type="image/svg+xml" class="svg-graphic" id="aroura"></object>
          </div>
        </section>

        <section id="Princess4">
          <div class="princess_container">
            <h1 class="hidden">Snow White</h1>
            <object data="images/snowwhite_banner.svg" type="image/svg+xml" class="see-more" id="snowwhite_banner" data-target="4"></object>
            <object data="images/snowwhite.svg" type="image/svg+xml" class="svg-graphic" id="snowwhite"></object>
          </div>
        </section>

        <section id="Princess5">
          <div class="princess_container">
            <h1 class="hidden">Ariel</h1>
            <object data="images/ariel_banner.svg" type="image/svg+xml" class="see-more" id="ariel_banner" data-target="5"></object>
            <object data="images/ariel.svg" type="image/svg+xml" class="svg-graphic" id="ariel"></object>
          </div>
        </section>

         <section id="Princess6">
          <div class="princess_container">
            <h1 class="hidden">Jasmine</h1>
            <object data="images/jasmine_banner.svg" type="image/svg+xml" class="see-more" id="jasmine_banner" data-target="6"></object>
            <object data="images/jasmine.svg" type="image/svg+xml" class="svg-graphic" id="jasmine"></object>
          </div>
        </section>

         <section id="Princess7">
          <div class="princess_container">
            <h1 class="hidden">Pochahontas</h1>
            <object data="images/p_banner.svg" type="image/svg+xml" class="see-more" id="pochahontas_banner" data-target="7"></object>
            <object data="images/pochahontas.svg" type="image/svg+xml" class="svg-graphic" id="pochahontas"></object>
          </div>
        </section>

        <section id="Princess8">
          <div class="princess_container">
            <h1 class="hidden">Mulan</h1>
            <object data="images/mulan_banner.svg" type="image/svg+xml" class="see-more" id="mulan_banner" data-target="8"></object>
            <object data="images/mulan.svg" type="image/svg+xml" class="svg-graphic" id="mulan"></object>
          </div>
        </section>

        <section id="Princess9">
          <div class="princess_container">
            <h1 class="hidden">Tiana</h1>
            <object data="images/tiana_banner.svg" type="image/svg+xml" class="see-more" id="tiana_banner" data-target="9"></object>
            <object data="images/tiana.svg" type="image/svg+xml" class="svg-graphic" id="tiana"></object>
          </div>
        </section>

         <section id="Princess10">
          <div class="princess_container">
            <h1 class="hidden">Rapunzel</h1>
            <object data="images/rapunzel_banner.svg" type="image/svg+xml" class="see-more" id="rapunzel_banner" data-target="10"></object>
            <object data="images/rapunzel.svg" type="image/svg+xml" class="svg-graphic" id="rapunzel"></object>
          </div>
        </section>

        <section id="Princess11">
          <div class="princess_container">
            <h1 class="hidden">Merida</h1>
            <object data="images/merida_banner.svg" type="image/svg+xml" class="see-more" id="merida_banner" data-target="11"></object>
            <object data="images/merida.svg" type="image/svg+xml" class="svg-graphic" id="merida"></object>
          </div>
        </section>

        <section id="Princess12">
          <div class="princess_container">
            <h1 class="hidden">Moana</h1>
            <object data="images/moana_banner.svg" type="image/svg+xml" class="see-more" id="moana_banner" data-target="12"></object>
            <object data="images/moana.svg" type="image/svg+xml" class="svg-graphic" id="moana"></object>
          </div>
        </section>

        <section class="lightbox">
          <span class="close">x</span>
          <div class="sidebar">
              {{{body}}}
          </div>

          <div class="lb-content">

          </div>
        </section>

       {{!--  <article class="popover">
          <h4 class="ipa-rating">IPA Rating - switch to what comes up in pop up</h4>
          <div class="ratings">Average Rating:- switch to what comes up in pop up</div>
          <p class="beer-description"></p>
        </article> --}}
  
    </main>
    <script src="js/main.js"></script>
</body>
</html>
