{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">

    <title>The 12 Disney Princesses</title>
</head>
<body>
  <div class="logo-header">
    <object data="images/logo.svg" type="image/svg+xml" id="logo"></object>
  </div>
  
    <main class="grid-container">

      <h1 class="header">Everything You Need To Know About Disney's 12 Offical Princesses</h1>
      <h2 class="header">Click on the Princess's name below to learn more about her.</h2>
      
      <div class="grid-x">
        <section id="Princess1" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Belle</h1>
            <img src="images/belle_banner.svg" alt="Belle" class="see-more" id="belle">
            <object data="images/belle.svg" type="image/svg+xml" class="svg-graphic" id="belle"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
         <section id="Princess2" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Cinderella</h1>
            <img src="images/cinderella_banner.svg" alt="Cinderella" class="see-more" id="cinderella">
            <object data="images/cinderella.svg" type="image/svg+xml" class="svg-graphic" id="cinderella"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess3" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Aroura</h1>
            <img src="images/aroura_banner.svg" alt="Aroura" class="see-more" id="aroura">
            <object data="images/aroura.svg" type="image/svg+xml" class="svg-graphic" id="aroura"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess4" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Snow White</h1>
            <img src="images/snowwhite_banner.svg" alt="Snow White" class="see-more" id="snowwhite">
            <object data="images/snowwhite.svg" type="image/svg+xml" class="svg-graphic" id="snowwhite"></object>
          </div>
        </section>
      </div> 

      <div class="grid-x">
        <section id="Princess5" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Ariel</h1>
            <img src="images/ariel_banner.svg" alt="Ariel" class="see-more" id="ariel">
            <object data="images/ariel.svg" type="image/svg+xml" class="svg-graphic" id="ariel"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
         <section id="Princess6" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Jasmine</h1>
            <img src="images/jasmine_banner.svg" alt="Jasmine" class="see-more" id="jasmine">
            <object data="images/jasmine.svg" type="image/svg+xml" class="svg-graphic" id="jasmine"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
         <section id="Princess7" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Pochahontas</h1>
            <img src="images/p_banner.svg" alt="Pochahontas" class="see-more" id="pochahontas">
            <object data="images/pochahontas.svg" type="image/svg+xml" class="svg-graphic" id="pochahontas"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess8" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Mulan</h1>
            <img src="images/mulan_banner.svg" alt="Mulan" class="see-more" id="mulan">
            <object data="images/mulan.svg" type="image/svg+xml" class="svg-graphic" id="mulan"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess9" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Tiana</h1>
            <img src="images/tiana_banner.svg" alt="Tiana" class="see-more" id="tiana">
            <object data="images/tiana.svg" type="image/svg+xml" class="svg-graphic" id="tiana"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess10" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Rapunzel</h1>
            <img src="images/rapunzel_banner.svg" alt="Rapunzel" class="see-more" id="rapunzel">
            <object data="images/rapunzel.svg" type="image/svg+xml" class="svg-graphic" id="rapunzel"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
        <section id="Princess11" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Merida</h1>
            <img src="images/merida_banner.svg" alt="Merida" class="see-more" id="merida">
            <object data="images/merida.svg" type="image/svg+xml" class="svg-graphic" id="merida"></object>
          </div>
        </section>
      </div>

      <div class="grid-x">
           <section id="Princess12" class="large-12 cell">
          <div class="princess_container">
            <h1 class="hidden">Moana</h1>
            <img src="images/moana_banner.svg" alt="Moana" class="see-more" id="moana">
            <object data="images/moana.svg" type="image/svg+xml" class="svg-graphic" id="moana"></object>
          </div>
        </section>
      </div> 

        <div class="grid-x">
          <section class="lightbox large-12 cell">
          <object data="images/belle.svg" type="image/svg+xml" class="image">Princess Image Will Show Here</object>
          <object data="images/" type="image/svg+xml" class="Pname">Princess Name Image here</object>

          <img src="images/movie.svg" width="200" alt="Movie Name & Year" class="circle">
          <p class="moviename">Switch what comes up in lightbox</p>

          <img src="images/voice.svg" alt="Person who voices the character" class="circle">
          <p class="voice">Switch what comes up in lightbox</p>

          <img src="images/bday.svg" alt="Age" class="circle">
           <p class="age">Switch what comes up in lightbox</p>

          <img src="images/animal.svg" alt="Princess's Sidekick Animal" class="circle">
           <p class="animal">Switch what comes up in lightbox</p>

          <img src="images/tickets.svg" alt="Movie Revenue" class="circle">
           <p class="revenue">Switch what comes up in lightbox</p>
          
          <span class="close">x</span>

          <div class="sidebar"></div>
        </section>
      </div>
    
        <div>
          <p>Sourced From: ttps://princess.disney.com | https://disneyprincess.fandom.com/wiki/List_of_Disney_Princesses | https://www.buzzfeed.com/louispeitzman/how-old-are-the-disney-princesses | ttps://www.digitalspy.com/movies/a871265/disney-princesses-box-office-ranked/</p>
        </div>
  
    </main>
    <script src="js/main.js"></script>
</body>
</html> --}}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="css/main.css">
  
      <title>The 12 Disney Princesses</title>
  </head>
  <body>
  
  <div class="row small-up-12">
      <div class="logo-header">
          <object data="images/logo.svg" type="image/svg+xml" id="logo"></object>
      </div>
  
      <h1 class="header">Everything You Need To Know About Disney's 12 Offical Princesses</h1>
      <h2 class="header">Click on the Princess's name below to learn more about her.</h2>
  </div>
  
  
  <div class="row small-up-2 medium-up-3 large-up-4">
  
    <div class="column">
        <h1 class="hidden">Belle</h1>
        <img src="images/belle_banner.svg" alt="Belle" class="see-more" id="belle">
        <object data="images/belle.svg" type="image/svg+xml" class="svg-graphic" id="belle"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Cinderella</h1>
        <img src="images/cinderella_banner.svg" alt="Cinderella" class="see-more" id="cinderella">
        <object data="images/cinderella.svg" type="image/svg+xml" class="svg-graphic" id="cinderella"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Aroura</h1>
        <img src="images/aroura_banner.svg" alt="Aroura" class="see-more" id="aroura">
        <object data="images/aroura.svg" type="image/svg+xml" class="svg-graphic" id="aroura"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Snow White</h1>
        <img src="images/snowwhite_banner.svg" alt="Snow White" class="see-more" id="snowwhite">
        <object data="images/snowwhite.svg" type="image/svg+xml" class="svg-graphic" id="snowwhite"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Ariel</h1>
        <img src="images/ariel_banner.svg" alt="Ariel" class="see-more" id="ariel">
        <object data="images/ariel.svg" type="image/svg+xml" class="svg-graphic" id="ariel"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Jasmine</h1>
        <img src="images/jasmine_banner.svg" alt="Jasmine" class="see-more" id="jasmine">
        <object data="images/jasmine.svg" type="image/svg+xml" class="svg-graphic" id="jasmine"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Pochahontas</h1>
        <img src="images/p_banner.svg" alt="Pochahontas" class="see-more" id="pochahontas">
        <object data="images/pochahontas.svg" type="image/svg+xml" class="svg-graphic" id="pochahontas"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Mulan</h1>
        <img src="images/mulan_banner.svg" alt="Mulan" class="see-more" id="mulan">
        <object data="images/mulan.svg" type="image/svg+xml" class="svg-graphic" id="mulan"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Tiana</h1>
        <img src="images/tiana_banner.svg" alt="Tiana" class="see-more" id="tiana">
        <object data="images/tiana.svg" type="image/svg+xml" class="svg-graphic" id="tiana"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Rapunzel</h1>
        <img src="images/rapunzel_banner.svg" alt="Rapunzel" class="see-more" id="rapunzel">
        <object data="images/rapunzel.svg" type="image/svg+xml" class="svg-graphic" id="rapunzel"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Merida</h1>
        <img src="images/merida_banner.svg" alt="Merida" class="see-more" id="merida">
        <object data="images/merida.svg" type="image/svg+xml" class="svg-graphic" id="merida"></object>
    </div>
  
    <div class="column">
        <h1 class="hidden">Moana</h1>
        <img src="images/moana_banner.svg" alt="Moana" class="see-more" id="moana">
        <object data="images/moana.svg" type="image/svg+xml" class="svg-graphic" id="moana"></object>
    </div>
  </div>
  
  <div class="row small-up-12 lightbox">
  
         <ul class="princess".
  
            <li> 
               <object data="images/belle.svg" type="image/svg+xml" class="Pname">Princess Name Image here</object>
           </li>
  
            <li>
               <object data="images/belle_banner.svg" type="image/svg+xml" class="image">Princess Image Will Show Here</object>
             </li> 
            
         </ul> 
         
         
  
          <ul class="dynamic">
            <li>
              <img src="images/movie.svg" width="200" alt="Movie Name & Year" class="circle">
              <p class="moviename">Switch what comes up in lightbox</p>
            </li>
              
            <li>
              <img src="images/voice.svg" alt="Person who voices the character" class="circle">
              <p class="voice">Switch what comes up in lightbox</p>
            </li>
  
            <li>
              <img src="images/bday.svg" alt="Age" class="circle">
              <p class="age">Switch what comes up in lightbox</p>
            </li>
  
            <li>
              <img src="images/animal.svg" alt="Princess's Sidekick Animal" class="circle">
              <p class="animal">Switch what comes up in lightbox</p>
            </li>
  
            <li>
              <img src="images/tickets.svg" alt="Movie Revenue" class="circle">
              <p class="revenue">Switch what comes up in lightbox</p>
            </li>
          </ul>
  
          {{!-- <img src="images/movie.svg" width="200" alt="Movie Name & Year" class="circle">
          <p class="moviename">Switch what comes up in lightbox</p>
  
          <img src="images/voice.svg" alt="Person who voices the character" class="circle">
          <p class="voice">Switch what comes up in lightbox</p>
  
          <img src="images/bday.svg" alt="Age" class="circle">
           <p class="age">Switch what comes up in lightbox</p>
  
          <img src="images/animal.svg" alt="Princess's Sidekick Animal" class="circle">
           <p class="animal">Switch what comes up in lightbox</p>
  
          <img src="images/tickets.svg" alt="Movie Revenue" class="circle">
           <p class="revenue">Switch what comes up in lightbox</p> --}}
          
          <span class="close">x</span>
  
          <div class="sidebar"></div>
  </div>
  
    <div class="row small-up-12">
      <p>Sourced From: ttps://princess.disney.com | https://disneyprincess.fandom.com/wiki/List_of_Disney_Princesses | https://www.buzzfeed.com/louispeitzman/how-old-are-the-disney-princesses | ttps://www.digitalspy.com/movies/a871265/disney-princesses-box-office-ranked/</p>
    </div>
    
  <script src="js/main.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
        $(document).foundation();
      </script>
  </body>
  </html> 